@import '../../styles/mixins.scss';

.event-block {
  display: inline-block;

  .card {
    width: 220px;
    margin: auto;

    .title {
      color: #fff;
      height: 176px;
      position: relative;
      padding: 0;

      h2 {
        position: absolute;
        padding: 10px 15px;
        width: 100%;
        box-sizing: border-box;
        background: rgba(0,0,0,0.7)
      }
    }

    .card-text {
      height: 150px;
    }

    .button {
      margin: auto;
      display: block;
    }
  }

  img {
    width: 220px;
  }

  //border: solid 5px;
  //@include border;

  .event-info {

    padding: 7px;
  }

}
@media (max-width: 767px) {
  .facet_sidebar {
    display: none;
  }
}
