@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
.center{
  margin: 0 auto;
}
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}

.hidden {
  display: none !important;
}
@media (max-width: 980px) {
  .body-layout {
    width: 80%;
    margin: 0 auto;
  }
}
