.event{
    img{
        width: 100%;
    }
    .buttons{
        display: flex;
        margin-bottom: 20px;
        button{
            margin: 0 auto;
        }
    }
}
textarea{
    border-radius: 3px;
    border: 3px solid #42b983;
    height: 100px;
    width: 300px;
    max-width: 100%
}
