/*.header{
  border-width: 0 0 1px;
      .navbar-header{
        display: inline-block;
        width: 100%;

      border-bottom: 3px solid #DDDDDD;

        .logo{
          float: left;
          padding: 20px;
          font-size: 30px;
          line-height: 30px;
          color: #ff40ac;
          
        }

        .navbar-toggle{
          height: 30px;
          width: 40px;
          margin: 20px;
          padding: 0 8px;
          border: 2px solid #DDDDDD;
          background-color: #FFF;
          border-radius: 4px;
          float: right;
          &:hover{
            background-color: #DDDDDD;
          }
          &:focus{
            outline-color: #DDDDDD;
          }
          span{
            display: block;
          }
          .icon-bar{
            height: 2px;
            width: 20px;
            background-color: #888;
            margin-top: 3px;

            &:first-child{
              margin-top: 0px;
            }
          }        
        }
      }

      .navbar-collapse{
        padding: 0;
        border: 1px solid #DDDDDD;
        position: absolute;
        width: 85%;
        margin-left: 15%;
        background: white;

        .navbar-nav{
          padding-left: 55px;
          li{
            list-style-type: none;
            text-align: left;
            color: #30BFB0;
            font-size: 20px;
            margin-top: 10px;
          }
        }
      }
    
  
}*/

.header {
  .navbar-header {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

    .logo {
      font-size: 30px;
      color: #ff40ac;
      display: inline-block;
      padding: 20px;
    }

    .navbar-toggle {

      border: 2px solid #DDDDDD;
      border-radius: 4px;
      background-color: #FFF;
      float: right;
      height: 40px;
      width: 50px;
      margin-top: 17px;
      margin-right: 40px;

      &:hover {
        background-color: #DDDDDD;
      }

      &:focus {
        outline-color: #DDDDDD;
      }

      .icon-bar {

        background-color: #888;
        display: block;
        height: 2px;
        width: 20px;
        padding: 0;
        margin: auto auto 3px;

        &:first-child {
          }
      }
    }
  }

  .navbar-collapse {

    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    position: relative;
    background-color: #FFF;
    width: 85%;
    margin-left: 15%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

    .navbar-nav {
      margin: 0;
      padding: 20px 0;

      li {
        list-style-type: none;
        color: #30BFB0;
        font-size: 20px;
        padding: 4px 20px;

        &:hover {
          border-left: 2px solid;
          padding-left: 18px;
        }
      }

    }
  }

}

/*@media (min-width: 768px) {
  .header{

      .navbar-header{
                display: inline;
        .logo{
        }

        .navbar-toggle{
          display: none;

          &:hover{
          }
          .icon-bar{

            &:first-child{
            }
          }        
        }
      }

      .navbar-collapse{
        display: inline;
        margin: 0;
        position: relative;
        background: white;
        border: none;
        .navbar-nav{
              float: right;
              margin: 0;
          li{
            margin: 0;
            font-size: 22px;
            padding: 20px;
            display: inline-block;

            &:hover{
              border-bottom: 2px solid;
              padding-bottom: 18px;
            }
          }
        }
      }
    }
  

}*/
@media (min-width: 768px) {
  .header {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

    .navbar-header {
      display: inline-block;
      border: none;
      box-shadow: none;

      .logo {}

      .navbar-toggle {
        display: none;

        &:hover {}

        .icon-bar {
          &:first-child {}
        }
      }
    }

    .navbar-collapse {
      display: block;
      margin: 0;
      width: auto;
      border: none;
      right: 0;
      box-shadow: none;
      float: right;

      .navbar-nav {
        padding: 0;

        li {

          display: inline-block;
          margin-top: 0;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 30px;

          &:hover {

            border-bottom: 2px solid;
            border-left: none;
            padding-left: 15px;
            padding-bottom: 19px;
            background-color: #DDDDDD;
          }
        }
      }
    }
  }

}
