.core-layout__viewport {
  padding-top: 4rem;
}

.wrapper {
  width: 100%;

  .container {
    padding: 0;
    width: 100%;

    .core-layout__viewport {
      width: 100%;
    }
  }
}
@media (min-width: 980px) {
  .wrapper {
    padding: 0 30px;
    margin: 0 auto;
  }
}
